* {
    font-family: "Open Sans", sans-serif;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submission {
    float: right;
}

/* need to find a better way of centre aligning*/
.newCredentials {
    position: relative;
    top: 65px;
    left: 75px;
}

h2 {
    color: white;
}