.boxes {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    justify-content: center;
    /* padding: 10px; */
}

.clientHeading {
    position: relative;
    left: 42%;
    font-family: 'Times New Roman', Times, serif;
}

.add-contact {
    position: relative;
    top: 10px;
    left: 60%;
}

/* .box {
    width: 20px;
    background-color: yellow;
    height: 100%;
} */