* {
  font-family: "Open Sans", sans-serif;
}

.topbar {
  height: 56px;
  width: "100%";
}

.searchbar {
  height: 41px;
  width: 1104px;
  display: inline;
  justify-content: space-between;
  align-items: center;
}

.p {
  text-align: center;
  vertical-align: top;
  font-size: 20px;
  letter-spacing: 10%;
  line-height: auto;
  color: #000;
}

.createContact {
  padding-left: 43px;
}

.searchbar {
  width: 70%;
  height: 41px;
  justify-content: space-between;
  padding-top: 10px;
}

.line3 {
  height: 56px;
  width: 1395px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titles {
  width: 70%;
  display: flex;
  font-size: 20px;
  position: absolute;
  top: 9%;
  left: 8%;
}

.n {
  position: absolute;
  left: 20%;
}

.s {
  position: absolute;
  left: 57%;
}

.pro {
  position: absolute;
  left: 87%;
}

.client {
  height: 55px;
  width: 70%;
  font-size: 20px;
  display: flex;
  border: none;
  justify-content: space-between;
  padding-left: 80px;
  background: transparent;
}

.name {
  position: absolute;
}

.status {
  position: absolute;
  left: 40%;
}

.progress {
  position: absolute;
  left: 70%;
}

.total {
  text-align: center;
  color: grey;
}

hr {
  border: 1px solid lightgrey;
}

.filterBar {
  padding-left: 30px;
}

.timestamp {
  font-weight: bold;
}

.divider {
  height: 24px;
  width: 287px;
}

.line {
  position: relative;
  top: 20px;
  height: 0px;
  width: 287px;
  border: 1px solid #e0e0e0;
}

.notifications {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 12px;
  gap: 8px;
}
