* {
  font-family: "Open Sans", sans-serif;
}

.topbar {
  height: 56px;
  width: "100%";
}

.searchbar {
  height: 41px;
  width: 70%;
  display: inline;
  justify-content: space-between;
  align-items: center;
}

.p {
  text-align: center;
  vertical-align: top;
  font-size: 20px;
  letter-spacing: 10%;
  line-height: auto;
  color: #000;
}

.createContact {
  padding-left: 43px;
}

.searchbar {
  width: 70%;
  height: 41px;
  justify-content: space-between;
  padding-top: 10px;
}

.line3 {
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
}

.titles {
  width: 100%;
  display: flex;
  font-size: 20px;
  position: absolute;
  top: 10.5%;
  left: 1.75%;
  padding-left: 7%;
}

.n {
  position: absolute;
  left: 17%;
}

.s {
  position: absolute;
  left: 39.5%;
}

.pro {
  position: absolute;
  left: 60%;
}

.client {
  height: 55px;
  width: 100%;
  font-size: 20px;
  display: flex;
  border: none;
  justify-content: space-between;
  padding-left: 7%;
  background: transparent;
  transition-duration: 0.4s;
}

.client:hover {
  background-color: #d3d3d3;
}

.name {
  position: absolute;
}

.status {
  position: absolute;
  left: 40%;
}

.progress {
  position: absolute;
  left: 70%;
}

.total {
  text-align: center;
  color: grey;
}

hr {
  border: 1px solid lightgrey;
}

.filterBar {
  padding-left: 30px;
}

.timestamp {
  font-weight: bold;
}

.divider {
  height: 24px;
  width: 100%;
}

.line {
  position: relative;
  top: 80%;
  width: 100%;
  right: 10%;
  border: 1px solid #e0e0e0;
}

.notifications {
  flex-direction: row;
  justify-content: space-between;
  min-width: 120%;
}
