.topbar {
  height: 56px;
  width: "100%";
}

.iconright2 {
  height: 40px;
  width: 40px;
  float: right;
}

.logo {
  align-items: center;
}

.searchbar {
  height: 41px;
  width: 1104px;
  display: inline;
  justify-content: space-between;
  align-items: center;
}

.p {
  text-align: center;
  vertical-align: top;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 10%;
  line-height: auto;
  color: #000;
}

.createContact {
  padding-left: 43px;
}

input[type="barStyling"] {
  width: 1077px;
  height: 41px;
  background: #f2f1f9;
  border-top: 5px;
  border-left: 0px;
  border-right: 0px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.5rem;
  vertical-align: top;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 10%;
  line-height: auto;
}

.searchbar {
  width: 1104px;
  height: 41px;
  display: flex;
  justify-content: space-between;
  padding-left: 330px;
}

.line3 {
  height: 56px;
  width: 1395px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titles {
  height: 42.35px;
  width: 1091px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
}

.client {
  height: 55px;
  width: 937.25px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  border: none;
  justify-content: space-between;
  padding-left: 80px;
  background: transparent;
}

.name {
  position: absolute;
}

.status {
  position: absolute;
  left: 690px;
}

.progress {
  position: absolute;
  left: 1025px;
}

.lowerpart {
  display: flex;
}

.clients {
  border: 2px transparent;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 8px;
  width: 1180px;
  height: 800px;
}

.sidebar {
  width: 300px;
  height: 800px;
  border: 0px solid;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.09);
}

.btn {
  position: absolute;
}

.options {
  background-color: rgba(0, 0, 0, 0.2);
}

.filterBar {
  padding-left: 30px;
}
